{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Classes{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
  	<label for="classname">Class Name</label>
    <input name="classname" id="classname" required>
    <label for="classtype">Class Type</label>
    <select name="classtype" id="classtype" required>
      <option value="regular">Regular</option>
      <option value="honors">Honors</option>
      <option value="ap">AP</option>
    </select>
    <!-- <input name="classtype" id="classtype" required> -->
    <label for="length">Length</label> <!-- might just change this to semester so I can say 1, 2 -->
    <select name="length" id="length" required>
      <option value="1-semester">1 semester</option>
      <option value="2-semester">2 semester</option>
    </select>
    <label for="grade">Grade</label>
    <select name="grade" id="grade" required>
      <option value="a">A</option>
      <option value="a-">A-</option>
      <option value="b+">B+</option>
      <option value="b">B</option>
      <option value="b-">B-</option>
      <option value="c+">C+</option>
      <option value="c">C</option>
      <option value="c-">C-</option>
      <option value="d+">D+</option>
      <option value="d">D</option>
      <option value="d-">D-</option>
      <option value="f">F</option>
    </select>
    <input type="submit" value = "Save and Add Another Class">
  </form>
  <div>
    <a id = "exit" href = "{{ url_for('calculator.main') }}">Exit</a>
  </div>
  {% for each in classes %}
    <p>Class {{each["id"]}}: {{each["classname"]}}, {{each["classtype"]}}, {{each["length"]}}, {{each["grade"]}}</p>
  {% endfor %}
  <!-- <div>
    <a class="action" href="{{ url_for('calculator.main') }}">Save</a> 
  </div> -->
{% endblock %}