{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Classes{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
  {% for each in classes %}
    
      <p>Class {{each["id"]}}: {{each["classname"]}}, {{each["classtype"]}}, {{each["length"]}}, {{each["grade"]}} <input type = "submit" name = "{{each['id']}}" value = "Delete"></p> <!--get the classes, put a delete button beside each one of them -->
  {% endfor %}
  </form>
  <div class="tools">
    <a id = "exit" href = "{{ url_for('calculator.main') }}">Exit</a>
  </div>

{% endblock %}