
{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Your GPAs{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('calculator.create') }}">Create</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for class in posts %}
    <article class="class">
      <header>
        <div>
          <h1>Hello {{ class['firstname'] }} {{ class['lastname'] }} </h1>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %} 