
{% extends 'base.html' %}

{% block header %}
  {% if g.user %}
  {% endif %}
{% endblock %}

{% block content %}
    {% if g.user %}
      <div id = "top">
        <h1>{% block title %}Your GPA{% endblock %}</h1>
        <article class="class">
          <header>
            <div>
             <h1 id = "hello">Hello {{ class['firstname'] }} {{ class['lastname'] }} </h1> <!--getting first and last name of user-->
            </div>
          </header>
        </article>
      </div>
      <article class ="gpa">
        <header>
          <div>
            <h1 id = "gpa">{{ gpa }}</h1> <!--inputting the gpa of user here-->
          </div>
        </header>
      </article>
      <div class = "tools">
        <a class="action" href="{{ url_for('calculator.create') }}">Create</a>
        <a class="action" href="{{ url_for('calculator.delete') }}">Delete</a>
      </div>
    {% endif %}
    {% if not loop.last %}
      <hr>
    {% endif %}
{% endblock %} 